<div class="welcome-container">
  <h2>Welcome to the Payments App!</h2>

  <div class="user-info">
    <h3>User Information</h3>
    <p><strong>Name:</strong> {{ userData.name }}</p>
    <p><strong>Email:</strong> {{ userData.email }}</p>
    <!-- Display other user information here -->
  </div>

  <div class="payment-info">
    <h3>Payment Details</h3>
    <p><strong>Balance:</strong> {{100 }}</p>
    <p><strong>Last Payment Date:</strong> {{ 31/10/1999}}</p>
    <!-- Display other payment details here -->
  </div>
</div>

